.about {
    gap: 5rem;
  }
  
  .about .img-div {
    width: 60rem;
    height: 50rem;
    border-radius: 0.6rem;
  }
  .about > .img-div::before {
    border-radius: inherit;
    content: "";
    position: absolute;
    width: 50rem;
    height: 50rem;
    background-color: #80b2f0;
    background-color: #DD6B0E;
  
    height: 100%;
    width: 100%;
    top: 2.2rem;
    right: 2.2rem;
  }

  .detail-text-container{
    width: 50%;
  }
  .detail-text-container p{
    font-weight: 300;
    line-height: 2;
  }